<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 위치 사용 시 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Android 13+ 알림 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 연락처 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:label="기프넛"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 딥링크 처리 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:host="www.502company.com" /> -->
                <data android:scheme="https" android:host="www.502company.com" android:pathPrefix="/gift" />
                <data android:scheme="https" android:host="www.502company.com" android:pathPrefix="/share" />
                <!-- 카카오톡 딥링크 -->
                <data android:scheme="kakao" android:host="open" />
                <data android:scheme="kakao" android:host="www.502company.com" android:pathPrefix="/gift" />
                <data android:scheme="kakao" android:host="www.502company.com" android:pathPrefix="/share" />
                <!-- 커스텀 스킴 -->
                <data android:scheme="gifnut" android:host="gift" />
            </intent-filter>
            <!-- 앱링크 처리 (HTTPS) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.502company.com" android:pathPrefix="/gift" />
            </intent-filter>
        </activity>
           <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity 
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao275e555cdb8196634a6aef161abe3f84" android:host="oauth"/>
            </intent-filter>
        </activity>
        <!-- FCM 커스텀 메시지 서비스 -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- FCM 기본 알림 채널 설정 (Android 8.0+) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 결제 앱 패키지 가시성 (Android 11+) -->
        <package android:name="com.shcard.smartpay"/>
        <package android:name="com.samsung.android.spay"/>
        <package android:name="com.lguplus.paynow"/>
        <package android:name="com.kbcard.kbkookmincard"/>
        <package android:name="com.hyundaicard.appcard"/>
        <package android:name="com.wooricard.wcard"/>
        <package android:name="com.hanaskcard.paycla"/>
        <package android:name="com.lottemembers.android"/>
        <package android:name="kr.co.citibank.citimobile"/>
        <package android:name="com.nh.cashcardmobile"/>
    </queries>
</manifest>
