<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99431167510-nn9vptpc86000fa30n4gadgkbk6aeoco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99431167510-nn9vptpc86000fa30n4gadgkbk6aeoco</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99431167510-2glo5lec2sg8rtgemfs6j12su6jvn3cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgXJvDB2WUpjjPJgX4qrtP0AaFA4NmhDw</string>
	<key>GCM_SENDER_ID</key>
	<string>99431167510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gifnut.cafeplatform</string>
	<key>PROJECT_ID</key>
	<string>cafeplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>cafeplatform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99431167510:ios:49d8c003e9d7f57c6e6737</string>
</dict>
</plist>